#ccarrier{
    margin: auto;
    padding:20px;
    margin-top:10px;
    
 
}
#toph{
    
      margin-left:30px;
}

#toph .labelhead {
    
    font-family:'Segoe UI';
    font-size:22px;
    color:#0d0f15;
   
  
   
}

.cdetails{
    padding:20px;
    line-height:2em;
     font-family:'Segoe UI';
    font-size:14px;
    color:#454445;
}

#topcontent1{
    
    margin:0 auto;
    margin-top:0px;
   padding-top:10px;
   padding-left:10px;
}
#topcontent1 p{
    font-family:'Segoe UI';
    font-size:14px;
    color:#454445;
    line-height:2em;
    text-align:justify;
}   

.ccdbox{
       
   background-color:#f8f8f8;
   margin:0 auto;
   margin-left:10px;
   margin-top:10px;
}

.ccdetails{
      
    padding:20px;
    line-height:2em;
   
 
}

.ccdetails label {
    height:20px;
    width:50px;
    font-family:'Segoe UI';
    font-size:14px;
    color:#333;
    
}
.ccdetails p{
    font-family:'Segoe UI';
    font-size:14px;
    color:#333;
    text-align:justify;
}

.ccdetails .labelhead {
    height:20px;
    width:50px;
    font-family:'Segoe UI Semibold';
    font-size:22px;
    color:rgb(192, 57, 43);
    
    
}

.ccredbox{
    height:4px;
    background-color:rgb(192, 57, 43);
   

}