.flat-table {
        width:80%;
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family:Segoe UI;
		border: none;
        margin:auto;    
        margin-top:12px;
        
	}
	.flat-table th, .flat-table td {
		box-shadow: inset -1.5px -1.5px #fff, 
			inset -1.5px -1.5px #f8f8f8;
	}
	.flat-table th {
		font-weight: normal;
		padding: 5px;
        width:auto;
		color:#ffffff;
        background-color:#e6212d;
        font-size:17px;
	}
	.flat-table td {
		color: #222;
		padding: 10px;
		font-size:14px;
        background-color:#f8f8f8;
		
	}
	
	.flat-table-1 {
		background:#f8f8f8;
	}
	