.fdbox{
    
     margin-top:20px;  
    background-color:#f8f8f8;
    margin-right:10px;
    margin-bottom:15px;
    margin-left:15px;
   
   
 
}

.cdetails{
    
    padding:20px;
     line-height:2em;
     
   
 
}

.cdetails label{

    font-family:'Segoe UI';
    font-size:14px;
    color:#454445;
    
}

.cdetails .labelhead {

    font-family:'Segoe UI';
    font-size:18px;
    font-weight:bold;
    color:#0d0f15;
    
    
}
.sredbox{
   height: 2px;
background-color: #e6212d;
   

}
.heading {
   
    padding-left: 10px;
   margin: 0px 10px 0px 16px;
    background-color: rgb(58, 61, 75);
}
 .heading label {
        font-family: 'Segoe UI';
        font-size: 20px;
        color:#fff;
      
    }


 #classtm{
    

   padding-left:10px;
   margin-left:16px;
   background-color: rgb(58, 61, 75);
   margin-right:10px;

 

}
 #classtm label {
        font-family: 'Segoe UI';
        font-size: 22px;
        color:#FFF;
    }
 #maps{
    
    margin-top:20px;
  margin-left:15px;
    
   
 
}

#map{
    
    margin: 0 auto; 
    margin-top:30px;
   
 
}

 
 #findus{

    padding-left: 10px;
margin-left: 16px;
background-color: #3A3D4B;
margin-right: 10px;
    

}
 #findus label {
        font-family: 'Segoe UI';
        font-size: 20px;
        color:#FFF;
    }