.cdetails{
   
  padding:20px;
  line-height:2em;
   
 
}

.cdetails label {
    height:20px;
   
    font-family:'Segoe UI';
    font-size:14px;
    color:#333;
    
}

    .cdetails .labelhead {
        height: 20px;
        font-family: "Segoe UI semibold";
        color: rgb(13, 15, 21);
        font-size: 22px;
    }
    .cdetails p{
     
        text-align: justify;
        color: #454445;
        font-family: Segoe UI;
    }
    .fdbox{
     height:500px;
    background-color:#f8f8f8;
    margin-right:5px;
    margin-bottom:15px;
    margin-left:10px;

}
    .fdbox1{
     
    background-color:#f8f8f8;
    margin-right:5px;
    margin-bottom:15px;
    margin-left:10px;
    }
    .sredbox-1{
    float:left;
    width:100%;
    height:3px;
    background-color:#0d0f15;
}

    
   

    #highlights{

background-color:#0d0f15;  
margin-bottom: 30px;


}
    .spdetails{
   
  padding:20px;
  line-height:2em;
  
 
}

.spdetails label{
    height:20px;
  
    font-family:'Segoe UI';
    font-size:14px;
    color:#333;
    
}

.spdetails .labelhead {
    height:20px;
    width:50px;
    font-family:'Segoe UI';
    font-size:1.08em;
   margin-left:10px;
    color:#fff;
    
    
 
  
  
  
}
#content1,#content2 ul li{
    font-size:14px;
    font-family:'Segoe UI';
    color:#fff;
}

.spdetails .labelhead1 {
    
    font-family:'Segoe UI';
    font-size:35px;
    font-weight:bold;
    color:#FFFFFF;
    


    
}
#heading2 .labelhead1{
   
       line-height: 1;
       margin-bottom:30px;
}
    
#photo1{
    background-color:#f8f8f8;
 
}
.smallphoto{

}
.smallphoto1{
    margin-top: 10px;
   
}
#foot{
    margin-top: 10px;
}

