.collection-box {
    margin-bottom: 20px;
}   

.collection-box-snippet a {
    overflow: hidden;
    display: block;
}

.collections-title {
   z-index: 1;
background-position: center center;
font-size: 18px;
position: absolute;
top: 70px;
left: 10px;
line-height: 20px;
color: #FFF;
text-shadow: 0px 0px 2px rgba(0, 0, 0,1);
margin: 0px 0px 0px 10px;
font-weight: 400;
padding: 5px 0px;
z-index: 1;
border-top: 1px solid rgba(255, 255, 255, 0.4);
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.collections-title_outlets {
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-transform: uppercase;
}

.collections-title_text {
    display: block;
    font-size: 19px;
    line-height: 20px;
    font-weight: lighter;
}
.collection-box-bg {
    background-size: cover;
    border-radius: 3px 3px 3px 3px;
    background-position: center center;
    overflow: hidden;
    height: 150px;
    width: 125px;
    background-image: url('../image/puertorico.jpg');
    margin-left: 10px;
}
.collection-overlay {
   position: absolute;
top: 22px;
bottom: 20px;
left: 10px;
right: 0px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 3px;
}

.collection-box-1 {
    margin-bottom: 20px;
}   

.collection-box-snippet-1 a {
    overflow: hidden;
    display: block;
}

.collections-title-1 {
   z-index: 1;
background-position: center center;
font-size: 18px;
position: absolute;
top: 24px;
left: 50px;
line-height: 20px;
color: #FFF;
text-shadow: 0px 0px 2px rgba(0, 0, 0,1);
margin: 0px 0px 0px 10px;
font-weight: 400;
padding: 5px 0px;
z-index: 1;
border-top: 1px solid rgba(255, 255, 255, 0.4);
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.collections-title_outlets-1 {
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-transform: uppercase;
}

.collections-title_text-1 {
    display: block;
    font-size: 19px;
    line-height: 20px;
    font-weight: lighter;
}
.collection-box-bg-1 {
    background-size: cover;
    border-radius: 3px 3px 3px 3px;
    background-position: center center;
    overflow: hidden;
    height: 100px;

    background-image: url('../image/intr_relocaiton.jpg');
    margin-left: 10px;
}
.collection-overlay-1 {
   position: absolute;
top: 0px;
bottom: 20px;
left: 10px;
right: 0px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 3px;
}

/*test*/
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.heading label{
    font-family:'Segoe UI Semibold';
    font-weight:500;
    font-size:24px;
    margin-left:20px;
    background-color:rgba(13,15,21,0.4);
    color:#F2F1EB;
}
.nav-tabs > li.active > a{
        color: #FFF;
    cursor: default;
    background-color:#fff;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-family: "Segoe UI Semibold";
    font-size: 14px;
    border-color:#fff;
}

.nav-tabs > li.active > a:hover{
    color: #FFF;
cursor: default;
background-color: #fff;
border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
font-family: "Segoe UI Semibold";
font-size: 14px;
border-color: #fff #fff transparent;
}
.nav-tabs{
    border-bottom: 1px solid #fff;
}