body {
  
}
.cir-box {
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
   border-color: #DDD;
    height: 292px;
  
    margin-left:-80px;
    line-height:25px;

}
.cir-box1 {
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
   border-color: #DDD;
    height: 292px;
    background-color: rgb(241, 241, 241);
    margin-left:0px;

}

.circ td {
    color:#820000;
    margin-left:20px;
    padding: 0px 0px 1px 1px;
}
.circ td:hover {
    color:#322F6D;
    margin-left:20px;
    padding: 0px 0px 1px 1px;
}
    .circ td label {
        color:#0d0f15;
    }

.date label {
    padding-right:10px;
}
     .cir-box i{
         color:#a90202;
     }
     .cir-tab i{
         color:#fff;
     }
.cir-tab {
    height:45px;
    background-color:#820000    ;
    padding-left:10px;
}

.cir-tab b{
color: #fff;
font-size: 20px;
font-family: "Segoe UI Semibold";
line-height: 40px;
margin-left: 10px;
}
.block-hdnews
{
    font-family:'Segoe UI Semibold';
    color:#0d0f15; 
}
#menu-cust {
    background-color:#930101;
    color:#fff;
}

    #menu-cust a:hover {
        color:#930101;
        background-color:#fff;
    }
    .nav navbar-nav :hover {
        background-color:#fff;
        color:#930101;
    }
    .dropdown ul li a:hover {
        background-color:#fff;
        color:#930101;
    }
    
    .nav > li > a{
        color:#ffffff;
    }
.nav > li > 
{
	padding: 10px 25px !important;
     font-family:'Segoe UI Semibold';
       
}

#hbr img {
    width:100%;
    height:5px;
}
#content-cust {
     background-color:rgba(189,195,199,0.4);
     margin-top:-21px;
    
}
    #content-cust label {
        font-family:Segoe UI;
        font-size:1.02em;
        padding-top:5px;
        padding-bottom:5px;
    }

    #nav1{
    
  
   margin-top:20px;
    font-family:Segoe UI;
    text-align:center; 
    
    
}

#nav1 ul li{
    list-style:none;
    height:20px;
    margin-bottom:5px;
   
    

}
#nav1 ul li a{
    text-decoration:none;
    background-color:#22313f;
    color:#fff;
    padding:10px;
    display:block;
    
    
 
   
}


.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-menu > li > a 
{
    color: #0d0f15;
    background-color:#E21f26;
    
    font-family: Segoe UI Semibold;
    font-size: 14px;
 
}

.dropdown ul li a:hover{
    color:#fff;
    background-color:#e21f26;
    font-family: Segoe UI Semibold;
    font-size: 14px;

}
.dropdown ul li ul li a {
    color:#fff;
    background-color:#e62125;

}
.dropdown ul li ul li a:hover {
    color:#0d0f15;
    background-color:#fff;

}
.navbar-nav > li > .dropdown-menu {
}
#nav1 ul li a:hover{
    

    background-color:#c0392b;
    color:#fff;
    
     display:block;
     padding:10px;
}


.fdetailsbox{
   
background-color: #f8f8f8;

margin-top: 20px;

   
 
}



.fdetailsbox1{
  
background-color: #f8f8f8;
margin-right: 10px;
margin-top: 19px;
margin-bottom: 25px;
    
   
 
}



.fdetailsbox2{
 
background-color: #f8f8f8;

margin-right: 10px;
margin-top: 296px;
margin-bottom: 4px;
    
   
 
}



.fdetails{
   
    padding:5px;
  
   
 
}

.fdetails label{
    height:20px;
    width:50px;
    font-family:'Segoe UI';
    font-size:14px;
    color:#333;
     line-height:2em;
}

.fdetails .labelhead {
    height:20px;
    width:50px;
    font-family:'Segoe UI';
    font-size:1.08em;
    font-weight:bold;
    color:rgb(192, 57, 43);
    
}

/*-------------------------*/
.dcourse{
    width:90%;
    height:auto;
    margin:0 auto;
    padding:25px;
    
}


.smallredbox{
    width:8px;
    height:8px;
    background-color:rgb(192, 57, 43);
    top:-2px;
    left:2px;

}

#copyright {
    color:#fff;
    padding-top:2px;
    padding-left: 5px;
    text-align:center;
}

   

    #topheadermain{
   
    background-color:rgba(242,241,235,0.8);
     
}

#topheaderdiv{
    
    background-color:#f2f1eb;
    padding:2px ;
   margin-left: -20px;

}

#topheaderdiv label{
   
padding: 3px 3px 5px 35px;
margin: 15px;
z-index: 9999;
font-family: 'Philosopher', sans-serif;
font-size: 24px;
font-weight:700;
color:#0d0f15;
    
}
#pow .img-responsive{
    margin: 0 auto;
    margin-top:-20px;
    

}



/*
/*sub menu*/

.dropdown a {
    color:#fff;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
   
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
    background-color:#930101;
}

.dropdown-submenu.pull-left {
    float: none;.dropdown-menu > li > a
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.menu {
    background-color:#003259;
    margin-left: 0px;
    font-family:'Segoe UI Semibold';
    font-size:14px; 
    color:#fff;
}
menu li a{
    color:#fff;
}
.menu a:hover {
    background-color:#fbfbf9;
    color:#0d0f15;
}

#null {
    background-color: #fff;
}

.content {

    background-color: #F2F1EB;
font-family: "Segoe UI";
width: 50%;
float: right;
margin-right: 55px;
text-align: justify;
margin-top: 0px;

}
      .content h4{
          color:#0E0D0D;
          padding-left: 25px;
          font-family: "Segoe UI Semibold";
          font-size:22px;
          color:#0d0f15;
            }
     

.content p {
    color:#454445;
    line-height: 1.5em;
    padding: 7px;
   
}

.image{
    margin-left:20px;
    float:left; 
    background-color: #D5D0C0;
    margin-left:15px;
}
#image{
    margin-top:10px;
    
    margin-left:5px;
    margin-right:5px;
}
#content{
    margin-top: 15px;
    background-color: #D5D0C0;
    font-family: "Segoe UI";
    margin-right: 5px;
    text-align:justify;
    margin-left: 5px;
    padding:10px;
    
}
#content h4{
          color:#0E0D0D;
          padding:10px;
          font-family: "Segoe UI Semibold";
          font-size:22px;
          color:#0d0f15;
            }
#content p {
    color:#454445;
    line-height: 1.5em;
    padding:10px;
   
}
.online {
font-family: "Segoe UI";
color: #D5D0C0;
background-color: #454545;
margin: 10px 0px 0px 0px;
padding-left: 20px;
line-height: 55px;
font-size: 15px;
display: block;

}

.online:hover {
   font-family: 'Segoe UI';
   
   background-color:#d5d0c0;
    margin: 10px 0px 0px 0px;
padding-left: 9px;
line-height: 55px;
font-size: 15px;
display: block;
  
}

.online a {
    color:  #D5D0C0;
    text-decoration:none;
    display:block;   
}

.online:hover a {
    color:rgb(69,69,69);
    text-decoration:none;
    display:block;
}


#pho-con{
    margin-top:20px;
}

#AboutusBottomThumbnailNavWrapper {
    background: none repeat scroll 0% 0% #F6F6F6;
    margin: 30px 0px;
   padding: 8px 10px 25px 0px;
}
div.reg-content {
    font: 16px/145% "AllerLt",Arial,Helvetica,sans-serif;
    color: #333;
}

#AboutusBottomThumbnailNavWrapper .aboutus-thumbnail-box {
    position: relative;
   margin: 16px 15px 0px 5px;
}
#AboutusBottomThumbnailNavWrapper .aboutus-thumbnail-box .aboutus-thumbnail-overly {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}

    #AboutusBottomThumbnailNavWrapper .aboutus-thumbnail-box .aboutus-thumbnail-overly h4 {
        font: 20px/130% "Aller",Arial,Helvetica,sans-serif;
        color: #FFF;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        margin: 0px 0px 0px 0px;
    }

    #AboutusBottomThumbnailNavWrapper .aboutus-thumbnail-box .about-content-box-cta {
    width: 47px;
    height: 47px;
   
    position: absolute;
    bottom: -8px;
    right: 20px;
    z-index: 9999999;
    cursor: pointer;
    display: none;
    transition: all 0.4s ease-in-out 0.1s;
}
  
    .lightbox{
        height: 75px;
        width: 75px;
        line-height: 18px;
        padding-top: 17px;
        padding-left: 5px;
        background-color: #D5D0C0;
        margin-left: 5px;
    }
    .lightbox .lightyearlabel{
        font-family:'Segoe UI Light';
        font-size:20px;
        color:#0d0f15;
    }

    .lightbox .lightdatelabel {
        font-family:'Segoe UI';
        font-weight:bold;
        font-size:20px;
        color:#0d0f15;
        letter-spacing:-1px;
    }

     .darkbox{
       
        height:75px;
        width:75px;
        line-height:18px;  
        padding-top:17px;
        padding-left:5px;
        background-color:#322F6D;
        margin-left:5px;
    }
    .darkbox .darkyearlabel {
        font-family:'Segoe UI Light';
        font-size:20px;
        color:#fff;
    }
   .darkbox .darkdatelabel {
       font-family: 'Segoe UI';
       font-weight: bold;
       font-size: 20px;
        color: #fff;
        letter-spacing:-1px;
   }

   .news td {
    padding: 0px 5px 0px 5px;
}
   .logout ul li   {
    background-color:#14826d;
}
   .logout ul li i  {
    padding-right:5px;
}