.modalBackground2 {
    background-color: Black;
    filter: alpha(opacity=00);
    opacity: 0.6;
}

.modalPopup2 {
    background-color: #FFFFFF;
    width: 645px;
    height: 400px;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.4);
}

    .modalPopup2 .header2 {
        background-color: #003259;
        height: 65px;
        color: White;
        line-height: 27px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding-top: 18px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .close {
      margin-top:-18px;   
    }

.fa {
    display: inline-block;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
   

    .modalPopup2 .mbody {
        
        min-height: 50px;
        line-height: 15px;
        
    }

    .modalPopup2 .footer {
        padding: 6px;
    }

    

    .lblfixed{
   float: left;
  font-weight: 600;
  font-size: 16px;
  width: 30%;
  padding-left: 30px;
  text-align: right;
    }
    
    .classright{
        float:left;
        margin-left:50px;
        text-align:justify;
        
    }

    .mbody{
       margin:0 auto;
    }